$headings: "Merriweather", serif;
$regular: "Open Sans", sans-serif;
$white: hsl(0, 0%, 95%);
$light-2: hsl(0, 0%, 95%);
$light-1: hsl(193, 73%, 68%);
$dark-1: hsl(194, 100%, 28%);
$black: hsl(0, 0%, 10%);
$pure-white: hsl(0, 0%, 100%);
$red: hsl(0, 75%, 69%);
