@use "base";

*,
::after,
::before {
  box-sizing: border-box;
}

* {
  font-family: base.$regular;
  padding: 0em;
  margin: 0em;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

body,
#root {
  background-color: base.$light-2;
  font-size: clamp(0.75rem, 2vw, 1.25rem);
}
.img {
  max-width: 100%;
  display: block;
}
h1,
h2,
h3 {
  font-family: base.$headings;
}

.layout {
  overflow: hidden;
  position: fixed;
  top: 0;
  height: 7em;
  width: 100%;
  background-color: base.$dark-1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: base.$white;
}

.volume-list-container,
.volume-container {
  margin-top: 7em;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1em;
  h2 {
    margin-top: 0.6em;
    font-size: 1em;
    font-weight: 500;
  }
}

.loading {
  position: fixed;
  top: 40vh;
  left: 50vw;
  transform: translate(-50%);
}

.card-grid {
  width: 100%;
  display: grid;
  padding: 0em 0.25em;
  gap: 0.5em;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  background-color: inherit;
}

.card {
  display: grid;
  width: 100%;
  min-height: 20em;
  overflow: hidden;
  border-radius: 0.15em;

  & > * {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  &__info {
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: base.$light-2;
    align-self: end;
    margin: 0.5em;
    padding: 0.5em;
    box-shadow: 0 0.25em 1em rgba(26, 26, 23, 0.5);
    border-radius: 0.15em;}
    .card-category {
      font-style: italic;
    }
    .card-title {
      font-size: 1em;
      font-weight: 800;
    }
    .card-authors {
      word-wrap: break-word;
    }
  
  .thumbnail-link {
    width: 100%;
    background-color: base.$light-1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card-thumbnail {
    width: 60%;
    aspect-ratio: 1/1.5;
    object-fit: cover;
  }
}

button {
  background-color: base.$light-1;
  color: base.$black;
  display: inline;
  padding: 0.1em 0.25em;
  border-radius: 0.2em;
  font-size: 1em;
  font-weight: 500;
  border: none;
  &:hover {
    cursor: pointer;
    background-color: lighten(base.$light-1, 4%);
    box-shadow: 0.2em 0.2em 1em rgba(0, 0, 0, 0.3);
  }
  &:active {
    transform: scale(0.98);
  }
  &.load-button {
    margin-bottom: 0.5em;
    font-size: 1.5em;
    padding: 0.5em;
    background-color: base.$dark-1;
    color: base.$white;
    &:hover {
      background-color: lighten(base.$dark-1, 4%);
    }
  }
}

.search-form {
  min-width: 30em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}

.select-bar {
  display: flex;
  gap: 0.5em;
  width: 22em;
  justify-content: space-between;
}

.form-group {
  display: flex;
  align-items: center;
  gap: 0.3em;
  &.input-form-group {
    width: 22em;
  }
}

input {
  width: 100%;
}

select,
input {
  font-size: 1em;
  padding: 0.1em 0.25em;
  border-radius: 0.15em;
  border: 0;
  appearance: none;
  box-shadow: none;
  &:focus {
    outline: 0.1em solid base.$black;
  }
  &.grey {
    color: "grey";
  }
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 30em;
}

.form-error {
  font-size: 0.7em;
  color: red;
  padding-right: 5em;
}
